

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    scroll-behavior: smooth;
}
  html, body {
    margin: 0;
    max-width: 100%;
    height: 100% ;
    overflow-x: hidden;
    font-family:'Poppins';
    background-color: rgba(138, 214, 240, 1)
}
div {

}
/* grid,background */
.grid {
    display: grid;
    grid-template-areas:
    'header header header header'
    'isi isi isi daftar-isi' 
    'footer footer footer footer';
    


}

/* bagian header */
.header {
    grid-area: header;
    width: 1483px;
    height: 110px;
    flex-shrink: 0;
    background: linear-gradient(90deg, #045582 33.43%, #4294C2 74.37%);
    position: fixed;
    display: flex;
}
.logo {
    margin-top: 13px;
    margin-left: 136px;
}
.text-logo {
    margin-top: 33px;
    margin-left: 24px;
    color: #ffff;
}
.historical {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.information {
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 24px;
}
.nav {
    margin-left: 684px;
    margin-top: 44px;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    word-spacing: 50px;
}
.nav a {
    color: #FCFCFC;
    text-decoration: none;
}

#home_active{
    color:  rgb(0, 229, 255);
}

.profile_active:hover{
    color:  rgb(0, 229, 255);
}

.about_active:hover{
    color:  rgb(0, 229, 255);
}


/* bagian content */
.isi {
    grid-area: isi;
    position: fixed;
    border-radius: 10px;
    background: #FCFCFC;
   
    width: 920px;
    height: 491px;
    flex-shrink: 0;
    margin-top: 162px;
    margin-left: 60px;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.25);
    overflow: scroll;

}

/* halaman */

.halaman h1 {
    text-align: center;
    padding-top: 55px;
    
}

.halaman img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.halaman p {
    margin-left: 62px;
    margin-right: 62px;
}

/* halaman 1 */

.halaman-1 h1 {
    text-align: center;
    padding-top: 55px;
    
}

.halaman-1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.halaman-1 p {
    margin-left: 62px;
    margin-right: 62px;
}

/* halaman 2 */

.halaman-2 h1 {
    text-align: center;
    padding-top: 55px;
    
}

.halaman-2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.halaman-2 p {
    margin-left: 62px;
    margin-right: 62px;
}


/* halaman 3 */

.halaman-3 h1 {
    text-align: center;
    padding-top: 55px;
    
}
.halaman-3 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.halaman-3 p {
    margin-left: 62px;
    margin-right: 62px;
}
/* halaman 4 */

.halaman-4 h1 {
    text-align: center;
    padding-top: 55px;
    
}
.halaman-4 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.halaman-4 p {
    margin-left: 62px;
    margin-right: 62px;
}






/* daftar isi */
.daftar-isi {
    grid-area: daftar-isi;
    border-radius: 10px;
    background: #FCFCFC;
    width: 316px;
    height: 490px;
    flex-shrink: 0;
    margin-top: 161px;
    margin-left: 1016px;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.25);
    position: fixed;
}

.daftar-isi h3 {
    margin-top: 30px;
    text-align: center;
    font-weight: 500;

}



.grid-2 {
    display: grid;
    grid-template-areas: 
    'daftar01 daftar02'
    'daftar03 daftar04' ;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 31px;
}

.text-sejarah a {
    position: relative;
    top: -12px;
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
}

.text-sejarah a:hover {
    color: #045582; 
 }

.text-tujuan a {
    position: relative;
    top: -6px;
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;

}

.text-tujuan a:hover {
    color: #045582;
}

.text-kronologi a {
    position: relative;
    top: 0px;
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
}

.text-kronologi a:hover {
    color: #045582;
}


.text-latar-belakang a {
    position: relative;
    top: 0px;
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
}

.text-latar-belakang a:hover {
    color: #045582;
}

/* footer */
.footer {
    grid-area: footer;
    position: relative;
    bottom: -667px;
    left: 0px;
    z-index: 11;
    width: auto;
   
}
.sosmed {
    text-align: center;
    position: fixed;
    
    
}
.sosmed a {
    color: black;
}





/* bagian icon sosmed*/





